/* default styles */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h1, h2 {
    font-family: 'Archivo Black', sans-serif;
    color: #1196AD;
}
/* ------HEADER-------*/
header {
    max-width: 1200px;
   margin: 0 auto;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
    min-height: 100px;
    border-bottom: 1px solid black;
}
nav ul li {
    padding: 10px 0;
    font-size: 1.5em;
}
nav ul li a {
    text-decoration: none;
    color:black;

}

.name {
    display: none;
    font-family: 'Archivo Black', sans-serif;
    color: #1196AD;
}
.title {
    display: none;
}
/* --------MAIN STYLES ------*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
.hello-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    min-height: 280px;
}

.hello h1 {
    color: black;
    text-align: left;
    font-size: 2em;
    padding: 0 20px;
    margin-top: 40px;
}

/* --------BUTTON STYLES -----*/
.email-me {
    display: block;
    margin: auto;
    background-color: white;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none;
    color:#534E4D;
}

/*
button:hover {
 background-color: #1196AD;
 border: 1px solid white;
 color: white;
 cursor: pointer;
}
button a:hover {
    color: white;
} */
/*----------FOOTER -------*/
footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 60px;
    height: 50px;
    width: 60%;
    margin-bottom: 20px;
}

/*------ ABOUT PAGE ------*/
.about p, .projects p {
    max-width: 500px;
    font-size: 1.3em;
    padding: 20px 20px;
}
.about h2 {
    text-align: center;
}
/* ----- PROJECT PAGE ------*/
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
}

.project-image {
width: 95%;
min-height: 300px;
background-color: darkgrey;
}


/*----------TABLET STYLES ------*/

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        border-bottom: 1px solid black;
        margin-bottom: 60px;
        max-width: 1200px;
        padding-right: 20px;

    }
    nav ul li {
        padding-left: 20px;
    }
    main {
        min-height: 600px;
    }
    .hello h1 {
        font-size: 3em;
        line-height: 1.5em;
    }
    .name {
        display: block;
        margin-right: 40%;
        font-size: 2em;
        font-weight: bold;
    }
    .hello-container {
        max-width: 70%;
        border-radius: 10px;
    }
    .title {
        display: block;
        color: #1196AD;
    }
    .about p, .projects p {
        line-height: 1.8em;
    }
}




/*----------DESKTOP STYLES --------*/
@media screen and (min-width: 940px) {

    .title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        border-right: 1px solid black;
        padding-right: 40px;
        min-height: 400px;
        margin-right: 10px;
        font-size: 2.5em;
    }
    .about {
        min-height: 400px;
        width: 45%;
        padding: 20px 20px;
        margin-left: 50px;

    }
    .about-container, .projects-page {
        display: flex;
        flex-direction: row;
    }
    .hello-container {
        max-width: 60%;
    }
    .name {
        margin-right: 50%;
    }
}