/* default styles */
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: arial;
    font-size: 16px;
}
/* ------HEADER-------*/
header {
    max-width: 1200px;
   margin: 0 auto;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    margin-bottom:20px;
    padding: 0;
    width: 100%;
    min-height: 100px;
}
nav ul li {
    padding: 10px 0;
    font-size: 1.4em;
}
nav ul li a {
    text-decoration: none;
    color:#534E4D;

}
.name {
    display: none;
}
.title {
    display: none;
}
/* --------MAIN STYLES ------*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
.hello-container {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin-bottom: 30px;
    min-height: 400px;
}

.hello {
    color: lightgrey;
    padding: 40px 0px 40px 40px;
    text-align: left;
}
/* --------BUTTON STYLES -----*/
button.email-me {
    display: block;
    margin: auto;
    background-color: white;
    height: 50px;
    border-radius: 30px;
    padding: 0 20px;
    border: solid grey 1px;
    font-size: 20px;
}
.email-me a {
    text-decoration: none;
    color:#534E4D;
}
button:hover {

}
/*----------FOOTER -------*/
footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    height: 50px;
    width: 100%;
    background-color: grey;
}

/*------ ABOUT PAGE ------*/
.about p, .projects p {
    max-width: 500px;
    font-size: 1.3em;
    padding: 20px 20px;
}
/* ----- PROJECT PAGE ------*/
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.project-image {
width: 95%;
min-height: 300px;
background-color: darkgrey;
}


/*----------TABLET STYLES ------*/

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        border-bottom: 1px solid black;
        margin-bottom: 60px;
        max-width: 1200px;
        padding-right: 20px;

    }
    nav ul li {
        padding-left: 20px;
    }
    .name {
        display: inline-block;
        margin-right: 50%;
        font-size: 2em;
        font-weight: bold;
    }
    .hello-container {
        max-width: 70%;
        border-radius: 10px;
    }
}




/*----------DESKTOP STYLES --------*/
@media screen and (min-width: 940px) {

    .title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 45%;
        border-right: 1px solid black;
        padding-right: 20px;
        padding-left: 10px;
        min-height: 400px;
        margin-right: 10px;
        font-size: 2.5em;
    }
    .about {
        background-color: lightslategrey;
        min-height: 400px;
        width: 45%;
        padding: 20px 20px;
        margin-left: 50px;

    }
    .about-container, .projects-page {
        display: flex;
        flex-direction: row;
    }
    .hello-container {
        max-width: 50%;
    }
}